<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SQLConnectionCommon" connectionString="Data Source=IT_NB_04;Initial Catalog=COMMON;Persist Security Info=True;User ID=sa;Password=masterkey"
      providerName="System.Data.SqlClient" />

    <!--<add name="SQLConnectionCommon" connectionString="Data Source=SSPC560401\SQLSERVER;Initial Catalog=COMMON;Persist Security Info=True;User ID=sa;Password=1234"
      providerName="System.Data.SqlClient" />-->
  </connectionStrings>
</configuration>