<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>-->
  <connectionStrings>
    <add name="SQLConnectionCommon" connectionString="Data Source=IT_NB_04;Initial Catalog=COMMON;Persist Security Info=True;User ID=sa;Password=masterkey"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>